@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');
@media (min-width:300px){
    html{
        scroll-behavior: smooth;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: calc(0.5vw + 50px);
        color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 2px rgb(0, 0, 0);
    }
    h1>span{
        color: black;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 400;
        font-size: calc(0.5vw + 15px);
    }
    p{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 300;
        font-size: calc(0.5vw + 15px);
    }
    
    .Introduction{
        height: 650px;
        width: 100%;
        background: rgb(222,252,241);
        background: linear-gradient(90deg, rgba(222,252,241,1) 0%, rgba(184,229,212,1) 19%, rgba(170,222,203,1) 48%, rgba(122,190,166,1) 97%, rgba(114,177,155,1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Introduction p{
        margin: 5px 0 40px;
    }
    .Introduction Input{
        padding: 20px 70px;
        border: none;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: calc(0.5vw + 20px);
    }
    .Transition{
        width: 100vw;
        height: 100px;
        background-color: white;
        transform: skewY(-2deg);
        position: relative;
        bottom: 10px;
    }
    .Articles__Introduction{
        margin: 0px auto 100px;
        font-weight: 400;
        font-size: calc(0.5vw + 15px);
        width: 90%;
        justify-content: center;
    }
    .Articles__Card{
        margin: 40px auto;
        width: 240px;
        height: 320px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    }
    .Articles__Card a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Articles__Card img{
        width: 180px;
        height: 200px;
        margin: 20px 0;
    }

    .Introduction,.Articles,.Articles__Card{
        visibility: hidden;
    }
}
@media (min-width:599px){ /*eu sei mas esse daqui é muito específico*/
    body{
        overflow-x: hidden;
    }
    .Articles__Introduction{
        padding-top: 35px;
    }

}
@media (min-width:799px) {
    .Articles__Card {
        font-size: 15px;
        width: 240px;
        height:320px;
    }
    .Articles__Card img{
        width: 150px;
        height: 175px;
    }

    h2,p{
        font-size: calc(0.5vw + 13px);
    }

    .Articles__Card{
        margin: 40px auto;
        width: 170px;
        height: 310px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    }
    .Articles__Card a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Articles__Card img{
        width: 130px;
        height: 150px;
        margin: 20px 0;
    }
    
    .Articles__Wrapper{
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        max-width: 1000px;
        padding-bottom: 20px;
    }
}
@media (min-width:1023px) {
    .Transition{
        display: none;
    }

    .Articles__Introduction{
        margin: 50px auto 50px;
    }

}
@media (min-width:1279px) {
    section{
        align-items: center;
        position: relative;
        justify-content: center;
    }
    h2,p{
        font-size: 18px;
    }
    .Articles__Card{
        width: 210px;
        height: 320px;
        padding: 30px;
    }
    .Articles__Card img{
        width: 180px;
        height: 200px;
    }

}
    